@page {
    margin: 0;
    size: A4;
}

header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
    display: none !important;
}

body {
    font-size: 12px !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.pad-all {
    padding: 2%;
}

.container-print {
    margin:0 auto;
    height:auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.increase {
    color: #5cb85c !important;
    -webkit-print-color-adjust: exact;
}

.decrease {
    color: #d9534f !important;
}

img.logo, svg.logo {
    display: block !important;
    max-width: 100% !important;
}

.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}

.col-print-offset-1 {margin-left:8%;}
.col-print-offset-2 {margin-left:16%;}
.col-print-offset-3 {margin-left:25%;}
.col-print-offset-4 {margin-left:33%;}
.col-print-offset-5 {margin-left:42%;}
.col-print-offset-6 {margin-left:50%;}
.col-print-offset-7 {margin-left:58%;}
.col-print-offset-8 {margin-left:66%;}
.col-print-offset-9 {margin-left:75%;}
.col-print-offset-10{margin-left:83%;}
.col-print-offset-11{margin-left:92%;}
.col-prin-offsett-12{margin-left:100%;}