.loader {
    position: fixed;
    z-index: 999;
    width: 3em;
    height: 0;
    border-radius: 100%;
    margin: auto;

}

/* Transparent Overlay */
.loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

#loader{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#loader span{
    display: inline-block;
    width: 5px;
    height: 20px;
    background-color: #3498db;
}

#loader span:nth-child(1){
    animation: grow 1s ease-in-out infinite;
}

#loader span:nth-child(2){
    animation: grow 1s ease-in-out 0.15s infinite;
}

#loader span:nth-child(3){
    animation: grow 1s ease-in-out 0.30s infinite;
}

#loader span:nth-child(4){
    animation: grow 1s ease-in-out 0.45s infinite;
}

@keyframes grow{
    0%, 100%{
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1);
    }

    50%{
        -webkit-transform: scaleY(1.8);
        -ms-transform: scaleY(1.8);
        -o-transform: scaleY(1.8);
        transform: scaleY(1.8);
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.label {
    font-size: 100% !important;
}

.active {
    display: block;
}

.vertical-middle {
    vertical-align: middle !important;
}

table.borderless tr td{
    border: 0;
}

table.borderless tfoot tr:first-child {
    border-top: 2px solid rgb(216, 212, 212);
}

table.borderless tfoot tr:last-child {
    border-bottom: 2px solid rgb(216, 212, 212);
}

.text-wrap {
    white-space: normal;
}

.cursor_pointer {
    cursor: pointer !important;
}

.bg-black-font-white {
    background-color: #202020 !important;
    color: white !important;
}

.panel-title > a:focus, .panel-title > a:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.inline {
    padding: .2em .6em .3em;
    margin: 1%;
    text-align: center;
    vertical-align: baseline;
    display: inline-block !important;
    border-radius: .25em;
    background-color: #f2f2f2;
    font-size: 100% !important;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .modal-table-mobile {
        width: 750px;
    }
    body, .btn, .form-control {
        font-size: 12px !important;
    }
}

.increase {
    color: #5cb85c;
}

.decrease {
    color: #d9534f;
}


.file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

.image-dropping, .image-upload-wrap:hover {
    background-color: #1FB264;
    border: 4px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

.invalid{
    border: 1.5px solid #e60000;
}

td.normal-space {
    white-space: normal !important;
}

.pad-all {
    padding: 2%;
}